

#main_body{
font-family: Arial,sans-serif;
background-color: rgb(255, 255, 255);
	vertical-align: baseline;

	border-bottom: 0px none;
background-image: none;
border-top: 0px none;

font-size: 100%;
line-height: 1.2;
margin: 0px;
outline: 0px none;
padding: 0px;
text-align: left;
}
em
{
margin-left:3px;
color:#CCC;
}
#header_back{

	
background: -moz-linear-gradient(center top , #696969 0%, #3F3F3F 100%);
background-image:-webkit-linear-gradient(top, #696969 0%,#3F3F3F 100%);
    box-shadow: 0 0 10px #333333;
	height: 42px;
    width: 100%;


}
#header{


	margin-left: auto;
margin-right: auto;
width: 974px;
position: relative;
}

#header_back a{
	font-size: 13px;

color: #D7D7D7;
	text-decoration: none;
	

}
#header_back a:hover{

color: #3399CC;

	text-decoration: none;
	

}
#header_back a:{

color: rgb(0, 102, 153);

	text-decoration: none;
	

}

#logo{
	background: url("logo.png") no-repeat scroll left center transparent;
     width: 98px;
     display: block;
float: left;
height: 34px;
margin-top: 3px;
overflow: hidden;
text-align: left;
text-indent: -119988px;
margin-left: 0px;
cursor:hand;
cursor:pointer;
}
#header_link{
float: right;
list-style: none outside none;
border-bottom: 0px none;

border-top: 0px none;
font-family: inherit;
font-size: 100%;
font-weight: inherit;
margin: 0px;
padding: 0px;
padding-right: 20px;
outline: 0px none;
vertical-align: baseline;
margin-right: 0px;
}
#header_link li{

font-size: 16px;
color: rgb(215, 215, 215);
padding-right: 10px;
padding-left: 10px;
	float: left;
position: relative;
line-height: 13px;
cursor: pointer;
display: block;
padding-bottom: 14px;
padding-top: 13px;

}

#header_link a:active, a:hover {
    outline: 0px none;
}
#content_body{

	margin-bottom: 20px;
margin-top: 80px;
clear: both;
margin-left: auto;
width: 980px;
margin-right: auto;
color: rgb(0, 0, 0);
}

#content_body h4{

font-family: inherit;
font-size: 18px;
font-weight: inherit;
margin: 0px 0px 15px;
text-decoration: none;

}
#content_body p{

font-size: 13.5px;

}
#textfield{

width: 300px;
margin-bottom: 10px;

}
#btn{
	border-width: 1px;
border-style: solid;
border-radius: 3px 3px 3px 3px;
cursor: pointer;
font-size: 12px;
line-height: 1.35;
margin: 0px;
overflow: visible;
padding: 3px 10px 2px;
text-decoration: none ;
border-color: #045A8B;
	background: -moz-linear-gradient(center top , rgb(115, 174, 201) 0px, rgb(115, 174, 201) 1px, rgb(51, 138, 176) 1px, rgb(5, 113, 166) 100%) repeat scroll 0px 0px transparent;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0, #73AEC9), color-stop(5%, #73AEC9), color-stop(5%, #338AB0), color-stop(100%, #0571A6)); 
color:white;
font-size: 12px;
}
#footer{
text-align: left;
border-top: 1px solid rgb(204, 204, 204);
font-size: 15px;
font-weight: normal;
line-height: 14px;
margin-left: auto;
margin-right: auto;
padding-bottom: 10px;
padding-top: 10px;
padding-left: 0px;
width: 974px;


}



#footer a {
	color: rgb(0, 102, 153);
padding-left: 10px;
padding-right: 10px;
padding-top: 10px;
	
    text-decoration: none;
}
#footer a:hover {
	color: rgb(0, 102, 153);

	
    text-decoration: underline;
}

#footer_pic {
    background: url("copyright.png") no-repeat scroll left top transparent;
    float: left;
    height: 16px;
    margin: -2px 3px -2px 0;
    overflow: hidden;
    padding-left: 0;
    padding-right: 0;
    text-align: left;
    text-indent: -119988px;
    width: 42px;
    color: black;
	text-decoration: none;
}
#footer_pic_text{
	margin-top: 0px; 
	float: left;
font-size: 12px;
	color: grey;
	text-decoration: none;
	text-align: left;
}
